@keyframes neon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload::before {
  animation: neon 4s linear infinite;
}

.upload > div {
    z-index: 1;
}